@use "sass:meta";

.ok {
  color: rgb(9 231 39);
  font-size: 1.5em;
}

.err {
  color: red;
  font-size: 1.5em;
}

html[data-hljs-use-dark="true"] {
  @include meta.load-css("highlight.js/scss/github-dark");
}

html:not([data-hljs-use-dark="true"]) {
  @include meta.load-css("highlight.js/scss/github");
}
